.app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 180px;
    width: 240px;
    border: 1px solid gray;
    margin: 20px;
    padding: 30px;
  }